.nav-profile > h4 {
  position: absolute;
  right: 100px;
  top: -10px;
}
.icon::before {
  right: 16.5%;
}
#profileContainer {
  display: flex;
  /* border: 2px solid black; */
  /* justify-content: flex-start; */
}

#profileContainer > div {
  margin: 60px auto;
}

.details {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 2;
  background: #fff;
  padding: 30px;
  /* border-radius: 5px; */
  /* box-shadow: 0px 2px 1px 1px #afbab3, 0px -4px 1px #d7ddd2; */
  height: 360px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  height: 380px;
  padding: 20px;
}

.title {
  color: grey;
  font-size: 18px;
}

.card-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #003468;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

#dashboardSidebar ul {
  margin-top: 100px;
}
#applyLoan ul {
  margin-top: 100px;
}
i.far.fa-edit {
  background: #003468;
  margin-left: 5px;
}
.account-img {
  text-align: center;
  /* background-image: linear-gradient(to bottom, #37393b, #5b6264, #838e8d, #b1bcb5, #e7ebde); */
  padding: 2%;
  width: 75%;
  margin: 0 auto;
  height: 250px;
  margin-top: 20px;
  box-shadow: 0px 2px 1px 1px #afbab3, 0px -4px 1px #d7ddd2;
  border-radius: 5px;
}

.personal-details {
  width: 76%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 2;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 1px 1px #afbab3, 0px -4px 1px #d7ddd2;
}
.account-paragraph {
  margin-bottom: 30px;
}

hr {
  margin-bottom: 30px;
}
.account-data-value {
  float: right;
}
.account-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #37393b;
}
.loans-container {
  width: 78%;
  margin: 0% auto;
  background: white;
}

.loans-container h2 {
  margin-top: 20px;
  text-align: center;
}

.transaction-table th,
td {
  text-align: center;
}
.transaction-table th {
  background: #003468;
  color: white;
  font-size: 14px;
}
.loans-container h2 {
  background: transparent;
}
.transaction-table {
  width: 100%;
}

.transaction-table td button.disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.transaction-table td button.disabled a,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  text-decoration: none;
}
.user-loans {
  width: 100%;
  margin: 0 auto;
  background: transparent;
  text-align: left;
  overflow-x: auto;
}

.transaction-table {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #09574b;
  margin-top: 12px;
  border-collapse: separate !important;
  border-spacing: 0;
  border-radius: 5px;
  box-shadow: 0px 2px 0px 2px #1a615545;
}

.transaction-table td,
th {
  padding: 8px;
  border-bottom: 1px solid #09574b;
  text-transform: capitalize;
}

.transaction-table td button a {
  color: #003468;
  text-decoration: none;
}

.transaction-table td a:hover {
  color: white;
}
.transaction-table td button:hover {
  background: #003468;
  filter: brightness(1.5);
}
.transaction-table td button {
  background: #cccccc;
  border: 1px solid transparent;
  /* color: white; */
  padding: 10px;
  border-radius: 5px;
}

.account-container {
  width: 100%;
  background-color: transparent;
}
.account-img {
  text-align: center;
  padding: 2%;
  width: 75%;
  margin: 0 auto;
  height: 250px;
  margin-top: 20px;
  box-shadow: 0px 2px 1px 1px #afbab3, 0px -4px 1px #d7ddd2;
  border-radius: 5px;
}
/* PAGINATION */
.page {
  /* display: inline-block; */
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.page a.active {
  background-color: #003468;
  color: white;
  border: 1px solid #003468;
}

/* MEDIA QUERIES*/
@media (max-width: 600px) {
  .account-img {
    width: 93%;
  }
  .personal-details {
    width: 93%;
  }
  .loans-container {
    width: 100%;
  }
  .account-container {
    width: 85%;
    margin: 0 auto;
  }
  .container {
    background: #f4eeee;
  }
}

@media (width: 1024px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .container {
    min-height: 92vh;
  }
}
@media (max-width: 768px) {
  .icon::before {
    right: 17.5%;
  }
  .loans-container {
    width: 90%;
    margin: auto;
  }

  #profileContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .details {
    margin-top: 0px;
    /* margin-bottom: 30px; */
    padding: 10px;
  }
  .card {
    max-width: 300px;
    height: 380px;
    padding: 20px;
    background: white;
  }
  .transaction-table th,
  td {
    text-align: right;
  }
  .transaction-table tr:nth-child(odd) > td button {
    background: white;
  }
  .transaction-table tr:nth-child(odd) > td button a {
    color: black;
    background: none;
  }
  .repayments-container {
    width: 78%;
    margin: 2% auto;
    background: white;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }
}
@media (max-width: 425px) {
  .icon::before {
    right: 20.5%;
  }
  .details {
    margin-top: 0px;
    /* margin-bottom: 30px; */
    padding: 10px;
    overflow: hidden;
    width: 300px;
  }
  .card {
    max-width: 300px;
    height: 450px;
    padding: 10px;
  }

  .card-button {
    margin-top: 50px;
  }
}

@media (max-width: 320px) {
  .details {
    margin-top: 0px;
    /* margin-bottom: 30px; */
    padding: 10px;
    overflow: hidden;
    width: 250px;
  }
  .card {
    max-width: 300px;
    height: 360px;
    padding: 20px;
  }
  .card-button {
    margin-top: 50px;
  }
}
